﻿@using CRM.WebApp.Infrastructure;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/js2")
    @Scripts.Render("~/bundles/js3")

    @{
        const string ServiceRequestControllerName = "ServiceRequest";
        const string ComplaintControllerName = "Complaint";
        const string PersonControllerName = "Person";
        const string CompanyControllerName = "Company";
        const string MailControllerName = "Mail";
        const string UserControllerName = "User";
    }

</head>
<body onload="ShowClock();">

    <div id="loading-window">
        <div class="loading-window-window">
            <div class="loading-window_text">Wczytywanie...</div>
            <div id="reload_circle"></div>
            <script>
                circle.play();
                document.getElementById("reload_circle").appendChild(circle.canvas);
            </script>
        </div>
    </div>

    <div class="container header-nav headtopdiv">
        <nav class="header-nav navbar-right">
            <div id="date_bar">Data</div>
            Jesteś zalogowany jako admin<br />          
            <a href="/user/logout" target="_self" class="hidden-xs ">Wyloguj</a>
        </nav>

    </div>
    <div class="clearfix"></div>

    <div class="container menu contentmaindiv">
        <div class="col-md-2">
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">Klienci</h4>
                    <p class="list-group-item-text">Indywidualni</p>
                </a>
                <a href='@Url.Action("Create", "Person")' class="list-group-item">Nowy klient</a>
                <a href='@Url.Action("List", "Person")' class="list-group-item">Wszyscy klienci</a>

                <a class="list-group-item active">
                    <p class="list-group-item-text">Firma</p>
                </a>
                <a href='@Url.Action("Create", "Company")' class="list-group-item">Nowa firma</a>
                <a href='@Url.Action("List", "Company")' class="list-group-item">Wszystkie firmy</a>
            </div>
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">Zgłoszenia</h4>
                </a>
                @*<a href='@Url.Action("Create", "ServiceRequest")' class="list-group-item">Nowe zgłoszenie</a>*@
                <a href='@Url.Action("List", "ServiceRequest")' class="list-group-item">Wszystkie zgłoszenia</a>
            </div>

            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">MailBox</h4>
                </a>
                <a href='@Url.Action("List", "Mail")' class="list-group-item">Odebrane</a>
                <a href='@Url.Action("Create", "Mail")' class="list-group-item">Napisz wiadomość</a>
            </div>
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">Użytkownicy</h4>
                </a>
                <a href='@Url.Action("List", "User")' class="list-group-item">Użytkownicy</a>
                <a href='@Url.Action("Create", "User")' class="list-group-item">Stwórz nowego użytkownika</a>
            </div>
        </div>

        <div class="col-md-10 maincontentright">
            <div id="notifications-wrapper">
                @Html.RenderNotifications()
            </div>
            @RenderBody()
        </div>
    </div>

    <div class="container stopka">
        <nav class="navbar-left" style="width: 100%;">Projekt zaliczeniowy "Customer Relationship Management System", wykonanie grupa ISK1, Informatyka, rok trzeci - 2014.</nav>
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/coffee")
</body>
</html>