﻿@model CRM.WebApp.ViewModel.Clients.People.PersonVM

<div>
    <h3>Osoba Indywidualna</h3>
    <hr />

    <div class="row">
        @{
            string ServiceRequestControllerName = "ServiceRequest";
            string PersonControllerName = "Person";
        }
     </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
           
                <ul class=" nav nav-navbar nav-pills nav-justified">
                    <li class="navbar-brand"><a href='@Url.Action("Create", ServiceRequestControllerName, new { id = (Model.Person as CRM.WebApp.Models.Clients.IClient).ClientId })'>Stwórz zgłoszenie serwisowe</a></li>
                    @*<li class="navbar-brand"><a href='@Url.Action( " ", " ", new { clientId = (Model.Person as CRM.WebApp.Models.Clients.IClient).ClientId })'>Stwórz reklamacje</a></li>*@
                    <li class="navbar-brand"><a href='@Url.Action("Edit", PersonControllerName, new { id = Model.Person.PersonId })'>Edytuj</a></li>
                    <li class="navbar-brand"><a href='@Url.Action("Delete", PersonControllerName, new { id = Model.Person.PersonId })'>Usuń</a></li>
                    <li class="active  navbar-brand"><a href='@Url.Action("List", PersonControllerName)'>Wróć</a></li>
                </ul>        
            </div>
    </nav>


            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Szczegółowe informacje</strong></h3>
                </div>

                <table class="table table-hover">
                    <tr>
                        <td class="col-md-3"><strong>@Html.DisplayNameFor(model => model.Person.Name)</strong></td>

                        <td> @Html.DisplayFor(model => model.Person.Name) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Person.Surname)</strong></td>

                        <td> @Html.DisplayFor(model => model.Person.Surname) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.Community)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.Community) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.PostalCode)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.PostalCode) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.City)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.City) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.BuildingNr)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.BuildingNr) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.ApartmentNr)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.ApartmentNr) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.District)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.District) </td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.Street)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.Street) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Address.Province)</strong></td>

                        <td> @Html.DisplayFor(model => model.Address.Province) </td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.ContactDetails.Email)</strong></td>

                        <td> @Html.DisplayFor(model => model.ContactDetails.Email) </td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.ContactDetails.PhoneNr)</strong></td>

                        <td> @Html.DisplayFor(model => model.ContactDetails.PhoneNr) </td>
                    </tr>


                </table>
            </div>


        </div>
