﻿@model CRM.WebApp.Models.Mail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="blog-main" >
            <div class="blog-post">
                <h2 class="blog-post-title">@Html.DisplayFor(model => model.Subject)</h2>
                <p class="blog-post-meta">@Html.DisplayFor(model => model.From)</p>
                <hr />
                <p class="">
                    @Html.DisplayFor(model => model.Body)
                </p>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Stwórz naprawę serwisową", "../ServiceRequest/Create") |
    @Html.ActionLink("Back to List", "Index")
</p>
