﻿body,html {
    padding-top: 0px;
    background-color: #142849;
    background-image: radial-gradient(circle, #165387, #012053);
    background-repeat: no-repeat;
    height:100%;
}

.container 
{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -150px;
    min-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}


.logologin
{
    margin-top:20px;
    margin-bottom:10px;
 
 
}
#crmLogo
{
    text-align:center;
    margin-bottom:30px;
    margin-top:30px;
}

.btn-block
{
    margin-top:20px;
}

/*---- VALIDATION ERRORS ----*/
.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    margin-top:10px;
    color: #ff0000;
    font-size: 0.85em;
}

.validation-summary-errors li {
    list-style-type: none;
}

.form-control
{
    margin-top:10px;
    margin-bottom:10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}