﻿@model  CRM.WebApp.ViewModel.Clients.Companies.CompanyVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <h3 align="left">Tworzenie nowej firmy</h3>
        <hr />
        <fieldset>
            <legend>Dane firmy</legend>

            @*Company name*@
            <div class="row">
                    @Html.LabelFor(model => model.Company.CompanyName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Company.CompanyName, new { @class = "form-control", @id = "company-name-tb" })
                    @Html.ValidationMessageFor(model => model.Company.CompanyName)
                </div>
            </div>

            @*Company NIP*@
            <div class="row">
                    @Html.LabelFor(model => model.Company.NIP, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Company.NIP, new { @class = "form-control", @id = "company-nip-tb", placeholder = "123-456-32-18" })
                    @Html.ValidationMessageFor(model => model.Company.NIP)
                </div>
            </div>
        </fieldset><br />
        <fieldset>
            <legend>Dane kontaktowe</legend>

            @*Company email*@
            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.Email, new { @class = "form-control", @id = "company-email-tb", placeholder = "company@email.com" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.Email)
                </div>
            </div>

            @*Company phone nr*@
            <div class="row">
                @Html.LabelFor(model => model.ContactDetails.PhoneNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactDetails.PhoneNr, new { @class = "form-control", @id = "company-phonenr-tb", placeholder = "800800800" })
                    @Html.ValidationMessageFor(model => model.ContactDetails.PhoneNr)
                </div>
            </div>
        </fieldset><br />

        <fieldset>
            <legend>Adres</legend>

            @*Company address - street*@
            <div class="row">
                @Html.LabelFor(model => model.Address.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control", @id = "company-address-street-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Street)
                </div>
            </div>

            @*Company address - building nr*@
            <div class="row">
                @Html.LabelFor(model => model.Address.BuildingNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.BuildingNr, new { @class = "form-control", @id = "company-address-buildingnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.BuildingNr)
                </div>
            </div>

            @*Company address - apartment nr*@
            <div class="row">
                @Html.LabelFor(model => model.Address.ApartmentNr, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.ApartmentNr, new { @class = "form-control", @id = "company-address-apartmentnr-tb" })
                    @Html.ValidationMessageFor(model => model.Address.ApartmentNr)
                </div>
            </div>

            @*Company address - postal code*@
            <div class="row">
                @Html.LabelFor(model => model.Address.PostalCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.PostalCode, new { @class = "form-control", @id = "company-address-postalcode-tb", placeholder = "00-000" })
                    @Html.ValidationMessageFor(model => model.Address.PostalCode)
                </div>
            </div>

            @*Company address - city*@
            <div class="row">
                @Html.LabelFor(model => model.Address.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.City)
                </div>
            </div>

            @*Company address - community*@
            <div class="row">
                    @Html.LabelFor(model => model.Address.Community, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Community, new { @class = "form-control", @id = "company-address-comunity-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Community)
                </div>
            </div>

            @*Company address - district*@
            <div class="row">
                    @Html.LabelFor(model => model.Address.District, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.District, new { @class = "form-control", @id = "company-address-district-tb" })
                    @Html.ValidationMessageFor(model => model.Address.District)
                </div>
            </div>

            @*Company address - province*@
            <div class="row">
                    @Html.LabelFor(model => model.Address.Province, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address.Province, new { @class = "form-control", @id = "company-address-province-tb" })
                    @Html.ValidationMessageFor(model => model.Address.Province)
                </div>
            </div>
        </fieldset><br />
        
        <div class="form-group">
            <div valign="middle" align="center" colspan="2">
                <br />
                <input type="submit" value="Dodaj firmę" class="btn btn-primary" />
                <input type="reset" value="Wyczyść" class="btn btn-default" />
            </div>
        </div>

</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
