﻿@import (reference) "../bootstrap/bootstrap.less";
@import (reference) '../bootstrap/alerts.less';

#notifications-wrapper{
    margin-top: 15px;
}

.notification{
    &:extend(.alert);
    border: solid 1px;
}

.notif-exit-btn{
    margin: 0 10px;
    padding: 2px;
}