﻿@model CRM.WebApp.Models.Users.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta content="pl" http-equiv="Content-Language" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/cssLogin")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("Scripts\bootstrap.js")
    @Scripts.Render("~/bundles/js2")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <title>Logowanie</title>
</head>
<body>

    <div id="loading-window">
        <div class="loading-window-window">
            <div class="loading-window_text">Wczytywanie...</div>
            <div id="reload_circle"></div>
            <script>
                circle.play();
                document.getElementById("reload_circle").appendChild(circle.canvas);
            </script>
        </div>
    </div>

    <div class="container">
        <center>
            <img class="logologin" src="@Url.Content("~/Content/images/logo.png")" alt="IMAGES" />
        </center>
        @using (Html.BeginForm())
        {

            @Html.TextBoxFor(model => model.Login, new { @class = "form-control"})
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    <input type="submit" value="Zaloguj" class="btn btn-lg btn-primary btn-block" onclick="javascript: $('#loading-window').show(0);" />
            @Html.ValidationSummary()
        }
    </div>
</body>

</html>