﻿@model CRM.WebApp.Models.Applications.ServiceRequest

@{
    ViewBag.Title = "Create Service Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "ServiceRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h3>Tworzenie nowego zgłoszenia</h3>
        <hr />
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>
                Dane zgłoszenia
            </legend>

            @Html.HiddenFor(model => model.ServiceRequestId)
            @Html.HiddenFor(model => model.CreationTime)

            @*Title*@
            <div class="row">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "title-tb", placeholder = "Tytuł zgłoszenia powinien być ciągiem znaków o długości minimalnej 5 i maksymalnej 200." })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            @*Interview with client*@
            <div class="row">
                @Html.LabelFor(model => model.ClientInterview, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ClientInterview, new { @class = "form-control", @id = "client-interview-ta", placeholder = "Tu powinien znajdować się wstępny opis problemu klienta." })
                    @Html.ValidationMessageFor(model => model.ClientInterview)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Analiza</legend>

            @*Analyze description*@
            @Html.HiddenFor(model => model.Analyze.AnalyzeId)
            <div class="row">
                @Html.LabelFor(model => model.Analyze.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Analyze.Description, new { @id = "analyze-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej analizy." })
                    @Html.ValidationMessageFor(model => model.Analyze.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Naprawa</legend>

            @*Repair description*@
            @Html.HiddenFor(model => model.Repair.RepairId)
            <div class="row">
                @Html.LabelFor(model => model.Repair.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Repair.Description, new { @id = "repair-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej naprawy." })
                    @Html.ValidationMessageFor(model => model.Repair.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Wymiana</legend>

            @*Replacement description*@
            @Html.HiddenFor(model => model.Replacement.ReplacementId)
            <div class="row">
                @Html.LabelFor(model => model.Replacement.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Replacement.Description, new { @id = "replacement-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej wymiany." })
                    @Html.ValidationMessageFor(model => model.Replacement.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Konserwacja</legend>

            @*Maintenance description*@
            @Html.HiddenFor(model => model.Maintenance.MaintenanceId)
            <div class="row">
                @Html.LabelFor(model => model.Maintenance.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Maintenance.Description, new { @id = "maintenance-descrip-ta", placeholder = "Tutaj powinien znajdować się opis przeprowadzonej konserwacji." })
                    @Html.ValidationMessageFor(model => model.Maintenance.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Odzyskiwanie</legend>

            @*Recovery description*@
            @Html.HiddenFor(model => model.Recovery.RecoveryId)
            <div class="row">
                @Html.LabelFor(model => model.Recovery.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Recovery.Description, new { @id = "recovery-descrip-ta", placeholder = "Tutaj powinien znajdować się opis odzyskania." })
                    @Html.ValidationMessageFor(model => model.Recovery.Description)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Podsumowanie</legend>
            <div class="row">
                @Html.LabelFor(model => model.PredictedRealizationDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PredictedRealizationDate, new { @id = "DtP", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PredictedRealizationDate)
                </div>
            </div>

            @*Status*@
            <div class="row">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
    List<SelectListItem> listItems = new List<SelectListItem>(){
                            new SelectListItem(){ Text = "Oczekuje", Value = "Await", Selected = true },
                            new SelectListItem(){ Text = "W trakcie", Value = "InProgress" },
                            new SelectListItem(){ Text = "Zakończone", Value = "Completed" }
                          };
                    }
                    @Html.DropDownListFor(model => model.Status, listItems, "")
                    @*Html.TextBoxFor(Model => Model.PredictedRealizationDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })*@
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Załączniki</legend>
            <div class="row">
                <label class="control-label col-md-2">Aktualne Załączniki</label>
                <div class="col-md-10">
                    <table class="table">
                        @foreach (var item in Model.Documents)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.ActionLink("Download", "DownloadDocument", new { documentId = item.DocumentId })
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </fieldset>

        <br />
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edytuj zgłoszenie" class="btn btn-default" />
                <input type="reset" value="Przywróć niezmodyfikowane" class="btn btn-default">
            </div>
        </div>
    </div>
};