﻿@model PagedList.IPagedList<CRM.WebApp.Models.Applications.ServiceRequest>
    @using PagedList.Mvc

    @{
        ViewBag.Title = "Zgłoszenia serwisowe";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>@ViewBag.Title</h2>

    <hr />

    <table class="table list" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ServiceRequestId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PredictedRealizationDate)
                </th>
                <th>
                    <p>Akcja</p>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
{
    <tbody class="">
        <tr class="accordion">
            <td>
                @Html.DisplayFor(ModelItem => item.ServiceRequestId)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Status)
            </td>
            <td>
                @String.Format(@"{0:yyyy/MMM/dd  HH:mm}", item.PredictedRealizationDate)
            </td>
            <td width="177">
                <div class="btn-group btn-group-sm ">
                    <a href='@Url.Action("Delete", "ServiceRequest", new { id = item.ServiceRequestId })' class="btn btn-default" onclick="return confirm('Czy jesteś pewny, że chcesz usnunąć ?')">Usuń</a>
                    <a href='@Url.Action("Details", "ServiceRequest", new { id = item.ServiceRequestId })' class="btn btn-default">Pokaż</a>
                    <a href='@Url.Action("Edit", "ServiceRequest", new { id = item.ServiceRequestId })' class="btn btn-default">Edytuj</a>
                </div>
            </td>
        </tr>
        <tr class="">
            <td colspan="5">
                <strong>Opis Zgłoszenia:</strong><br />
                <p id="discription">@Html.DisplayFor(ModelItem => item.Analyze.Description)</p>
                </td>
            </tr>
    </tbody>
}

    </table>
    <hr />
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
